@import "tailwindcss";

@theme {
    --color-gray-200: #f9fafb;
    --color-gray-600: #59616f;




    --color-purple-200: #cccbf3;
    --color-purple-600: #5046e2;

    --color-purple-500: #635ec5;
    --color-purple-300: #e0e7ff;
}